#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.game-field {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 5px;
  row-gap: 5px;
  background-color: #333;
}

.game-cell {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 70px;
}
.win-cell {
  background-color: greenyellow;
}
.loose-cell {
  background-color: red;
}

.game-control {
  padding: 1rem;
}
.game-control .reset {
  background-color: sandybrown;
  border-radius: 5%;
  border: none;
  padding: 0.5em 1em;
  font-size: 1rem;
  cursor: pointer;
}
.game-control .reset:hover {
  transform: scale(1.1);
}

.game-popup {
  /*display: none ;*/
  position: absolute;
  height: 200px;
  width: 300px;
  left: 50%;
  top: 50%;
  margin-left: -150px;
  margin-top: -100px;
  background-color: sandybrown;
  /*opacity: 0.5;*/
  border: 3px solid red;
  border-radius: 2%;
  font-size: 30px;
  color: white;
  justify-content: center;
  align-items: center;
}
